// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = 'Nanopore_basecalling'
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/long-read-ampliseq'
    description     = 'Stand alone pipeline for basecalling on Nanopore reads'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '{{Nanopore_basecalling_version}}'
}

includeConfig "./assorted-sub-workflows/ont_basecalling/ont_basecalling.config"

params {
    // Save output files
    save_fastqs = true
    
    // LSF options
    queue_size = 50
    submit_rate_limit = '50/2min'
    monochrome_logs = false
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
